button{
    background-color: rgb(44, 174, 44);
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: aerial;
    padding:8px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
button:hover{
    box-shadow: 1px 9px 9px rgba(0, 0, 0, 0.15);
}
