button {
    background-color: rgb(26, 163, 26);
    color: white;
    border: none;
    padding: 8px 16px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15) ;
    transition: margin 0.4s;
}
button:hover {
    cursor: pointer;
}
button:active {
    margin: 7px;
    cursor: pointer;
    box-shadow: 0px;
}
